:root {
    --test-border: 1px solid red;
    --logo-font: 'Codystar', cursive;
    --else-font: 'Roboto Mono', monospace;
}


.container, html, body {
    margin: 0;
    background-image: url(imgs/carinaNebula.jpeg);
}

h3, h5, div {
    font-family: var(--else-font);
}

h1 {
    font-family: var(--logo-font);
}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.leftmain {
    flex: 0.7;
    display: flex;
    flex-direction: column;
    
}

.topseperator {
    flex: 0.6;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.transparentbox {
    flex: 0.3;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
}

.logoholder {
    flex: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: -50px;
}

.logotextholder {
    font-family: var(--logo-font);
    color: white;
    flex: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.testimg {
    height: 100px;
    width: 100px;
}

.rocketimgholder {
    height: 100px;
    width: 100px;
    flex: 0;
    
}

.bottomseperator {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    width: 100%;

}

.rightmain {
    background-color: black;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.textdiv {
 flex: 0.6;
 display: flex;
 flex-direction: column;
 color: white;
 margin-left: 50px;
 margin-right: 50px;
}

.textdivtop {
flex: 0.5;
display: flex;
justify-content: flex-end;
flex-direction: column;
}

.textdivbottom {
    display: flex;
flex: 0.5;
flex-direction: column;
justify-content: flex-start;

}

.formdiv {
flex: 0.35;
display: flex;
justify-content: flex-start;
align-items: flex-start;
padding: 15px;
display: flex;
background-color: black;
}

label, input {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: gray;
    border-color: gray;
    border-radius: 0.5rem;
    margin: 5px;
}

.formdivcolumn {
    flex: 0.5;
    display: flex;
    width: 100%;
}

form {
    width: 100%;
    margin: 10px;
}

input {
    width: 100%;
}


.labeltext {
    font-size: 0.7rem;
    color: white;

}


.createaccountdiv {
flex: 0.2;

display: flex;
justify-content: flex-start;
align-items: center;

background-color: black;

}

.createaccountbutton {
    background-color: blueviolet;
    color: white;
    flex: 0.6;
    height: 60px;
    font-size: 1.5rem;
    border-radius: 1rem;
    margin-left: 20px;
    
}

.logindiv {
 flex: 0.2;
color: white;
background-color: black;
text-align: start;
}

.logintext {
    margin-left: 20px;
}

.loginlink:link {
    color: rgb(168, 8, 160);
}



@media only screen and (min-width: 700px) {


    .container {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    
    .topseperator {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottomseperator {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

.container, html, body {
    height: 100%;
    margin: 0;
}


    
}


